@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}
/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

 $brown: rgb(42, 35, 21);
 $light-brown: rgb(172, 147, 98);  

 * {
    font-family: 'Playfair Display', serif;
 }

.toolbar{
    background-color: #efefef;
}

.rotationContainer{
    width:60%;
    margin: auto;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s ease;
    &.rotated { 
        transform: rotateY(180deg); 
    }
    >div{
        backface-visibility: hidden;
        width: 100%;
        background: url(../images/backgroundPaper.jpg) center center no-repeat;
        background-size: cover;
        border-radius: 50%;
        border: 10px solid $brown;
        min-width: 300px;
        max-width: 570px;
        display: block;
        transition: all 1s ease;
        &::after{
            content:"";
            display: block;
            padding-top:100%;
        }
    }
}

.frontOfCoin{
    position: relative;
    margin: 0;
    > div{
        margin: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -100%);
        width:100%;
        padding-left: 15%;
        h1{
            width:100%;
            font-size: 2rem;
            margin-bottom: .5rem;
        }
        span{
            font-style: italic;
            font-size: .8rem;
        }
    }
    .def{
        position: absolute;
        font-size: 0.7rem;
        top:50%;
        left:40%;
        width:50%;
    }
    .icon{
        position: absolute;
        top:75%;
        left:50%;
        transform: translateX(-50%);
        cursor: pointer;
        * {
            transition: all .5s ease;
        }

        &:hover{
            svg{
                transform: rotateZ(-90deg);
                path{
                    fill: $light-brown;
                }
            }
            > span{
                transform: translate(7%, -50%);
                color: $light-brown;
            }
        }

        svg{
            width: 1.8rem;
            path{
                fill: $brown;
            }
        }
        > span{
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            width: 10ch;
            font-weight: bold;
            font-size: .6rem;
        }
    }
}

.backOfCoin{
    position: absolute;
    top:0;
    left:0;
    transform: rotateY(180deg) translateZ(0);
    > div{
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        h4{
            text-align: center;
            color: $brown;
            font-size: 1.2rem;
            margin-bottom: .5rem;
        }
    }
    .login{
        top:13%;
    }
    .signup{
        top:45%;
    }
    form{
        width: 100%;
        div{
            text-align: center;
            input{
                appearance: none;
                box-shadow: none;
                width: 37%;
                margin: 0 .2rem .1rem .2rem;
                border: none;
                border-radius: 7px;
                border-bottom: solid 2px #c9c9c9;
                transition: border 0.3s;
                font-size: .6rem;
                padding: .1rem;
                &:focus {
                    outline: none;
                     box-shadow: inset 0 0 8px  rgba(172, 147, 98,0.2),
                                       0 0 16px rgba(172, 147, 98,0.2);
                }
            }
        }
        button{
            position: absolute;
            top:100%;
            left: 50%;
            border: 2px solid $brown;
            border-radius: 3px;
            font-size: .5rem;
            transform: translate(-50%);
            background-color: rgba(0, 0, 0, 0);
            transition: background-color .25s linear;
            &:hover{
                background-color: $light-brown; 
            }
        }
    }
    .back{
        position: absolute;
        top:2%;
        left:50%;
        transform: translateX(-50%);
        cursor: pointer;
        * {
            transition: all .5s ease;
        }

        &:hover{
            svg{
                transform: rotateZ(-90deg);
                path{
                    fill: $light-brown;
                }
            }
            > span{
                transform: translate(7%, -50%);
                color: $light-brown;
            }
        }

        svg{
            width: 1.5rem;
            path{
                fill: $brown;
            }
        }
        > span{
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translateY(-50%);
            width: 10ch;
            font-weight: bold;
            font-size: .5rem;
        }
    }
}

@media screen and (min-width: 780px){
    .frontOfCoin{
        > div{
            h1{
                font-size: 3.3rem;
            }
            span{
                font-size: 1rem;
            }
        }
        .icon{
            top: 70%;
            svg{
                width: 3.2rem;
            }
            span{
                font-size: 1rem;
                width: 20ch;
            }
        }
        span{
            font-size:.8rem;
        }
    }

    .backOfCoin{
        .login{
            top: 20%;
        }
        .signup{
            top: 50%;
        }
        > div{
            h4{
                margin-bottom: 1.2375rem;
                font-size: 1.33rem;
            }
            form{
                input{
                    font-size: .8rem;
                    padding: .3rem;
                    margin: 0 .5rem .5rem .5rem;
                    width: 40%;
                }
                button{
                    font-size: .8rem;
                }
            }
        }
        .back{
            top: 5%;
            svg{
                width: 2.5rem;
            }
            > span{
                font-size: .8rem;
            }
        }
    }
}

#new-story {
    margin-top: -50px;
}


.header {
    background-color: #649E70;
    width: 100%;
    height: 90px;
    border-bottom: 3px solid white;
    box-shadow: 0px 1px 2px #d4d4d4;
}

.subheader {
    background-color: #649E70;
    width: 260px;
    height: 40px;
    margin: auto;
    position: relative;
    border: 3px solid white;
    margin-top: -3px;
    border-top: 0px;
    box-shadow: 0px 2px 2px #d4d4d4;
    img {
        width: 40px;
        height: 35px;
        -webkit-filter: invert(1);
        filter: invert(0);
        margin-left: 107px;
    }
}


.left_box {
    background-color: #f4f4f4;
    width: 40%;
    min-width: 300px;
    height: 500px;
    float: left;
    border: 7px solid #f4f4f4;
    padding: 5px;
    position: relative;
    margin-left: 6%;
    margin-top: 80px;

}

#random {
    background-color: white;
    width: 100px;
    height: 500px;
}



#wrapper {
    transform: translateY(-70px);
    position: relative;
    width: 100%;
    z-index: 1;
    transition-duration: .5s;
}

#wrapper:hover {
    transition-duration: .5s;
    transform: translateY(0);
}

body {
    background-color: #F4F4F4;
}

#story-img {
    height: 60%;
    width: 100%;
}

#user-img {
    width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
    border-radius: 3px;
    border: 1px solid white;
    box-shadow: 0px 0px 2px grey;
    margin-left: 0px;
    margin-top: 0;
}

#user-name {
    margin: 8px;
    margin-bottom: 2px;
    font-size: 12px;
    color: #649E70;
    font-family: Arial;
    font-weight: 400;
}

#time-stamp {
    margin-top: 0;
    font-size: 13px;
    font-family: Arial;
    color: grey;
    text-indent: 0px;
}

.left_box:hover,
.right_box:hover {
    border: 7px solid #d4d4d4;
    transition-duration: .5s;
}

h4 {
    font-family: Arial;
    margin-bottom: 10px;
}

#description {
    font-family: Times;
    font-style: oblique;
    font-size: 16px;
    color: grey;
    margin-bottom: 0px;
}

#read-more {
    text-indent: 0px;
    color: #649E70;
    margin-top: 13px;
    font-size: 15px;
}

button,
#search-input,
#header-user-img {
    float: right;
    margin-top: 20px;
}

.logo {
    float: left;
    margin-top: 10px;
    margin-left: 3%;
    font-size: 35px;
    font-weight: bolder;
    text-shadow: 1px 1px 0px #515151;
    color: white;
    text-shadow: 1px 2px 1px #6B6B6B;
}

#header-user-img {
    width: 37px;
    height: 37px;
    margin-right: 3%;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    box-shadow: 0px 0px 2px #515151;
}

#search-input {
    width: 175px;
    height: 39px;
    padding-left: 35px;
    margin-right: 11px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    font-family: Arial;
    font-size: 16px;
    box-shadow: 0px 0px 2px #515151;
}

#search-icon {
    width: 30px;
    height: 31px;
    border: 0;
    background-color: white;
    margin-right: -34px;
    margin-top: 23px;
    img {
        -webkit-filter: invert(65%);
    }
}

#button-right {
    float: right;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #d4d4d4;
    color: #A8A8A8;
    margin-right: 8px;
    border-radius: 8px;
    height: 38px;
    font-family: Arial;
    font-size: 15px;
    box-shadow: 0px 0px 2px #515151;
}

.floating-logo {
    width: 100px;
    height: 100px;
    margin: auto;
    position: fixed;
    background-color: #649E70;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 485px;
    transform: rotate(45deg);
    border: 3px solid white;
    box-shadow: 0px 0px 4px #d4d4d4;
    p {
        margin-top: 0;
        font-size: 13px;
        color: grey;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(-45deg);
        margin-left: 24px;
        font-family: Times New Roman;
        color: white;
        font-size: 40px;
        text-shadow: 1px 2px 1px #6B6B6B;
    }
}

.post {
    list-style-type: none; 
}

#like {
    float: right;
    margin-top: -20px;
    background-color: #F4F4F4;
    width: 35px;
    height: 35px;
    border: 0px;
        img {
            filter: invert(50%);
        }
}

#story-title {
    font-family: Arial;
    text-align: center;
    color: grey;
    text-shadow: 2px, 2px, 0px #d4d4d4;
    clear: both;
}

#post-new-story, #new-story-title, #new-story-label {
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
}

#new-story-label {
    margin-left: 35%;
    margin-top: 35px;
    font-family: Arial;
    color: grey;
    margin-right: 3px;
}

#post-new-story {
    margin-top: 30px;
    background-color: white;
    border: 0px;
    margin-left: -40px;
    height: 25px;
    margin-top: 33px;
    color: grey;
}

#new-story-title {
    width: 175px;
    height: 39px;
    margin-right: 11px;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    font-family: Arial;
    font-size: 16px;
    box-shadow: 0px 0px 2px #d4d4d4;
    padding-left: 10px;
}

hr{
    margin: auto;
    width: 200px;
}
